body{
    background-color: #d0d0d0;
    /*display: flex;*/
}

.log{
    text-align: center;
    padding-bottom: 10px;
}

.bannerImg{
    width: 95%;
    max-width: 100%;
    padding: 0% 2.5% 0% 2.5%;
    max-height: 50%;
}

.newBooks{
    padding: 20px;
}

.bookItems{
    display: grid;
}

.bookDetails{
    max-height: 350px;
    max-width: 200px;
    text-align: center;
}

.bookImgContainer{
    height: 150px;
    width: 150px;
    position: relative;
    margin: 0 auto;
    padding: 10px 5px;
}

.bookImg{
    max-width: 150px;
    max-height: 150px;
}


h3{
    font-weight: 500;
}


/*Footer Part*/

footer{
    background-color: black;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: white;
}

.footer-details{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-details h3{
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 3rem;
}

.footer-details p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 28px;
}

.socials{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: white;
}

.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i{
    color: aqua;

}

.footer-end{
    background: #1e1e1e;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer-end p{
    font-size: 14px;
    word-spacing: 2px;

}

.footer-end span{
    text-transform: uppercase;
    
}